{% extends 'base/base.html' %}

{% block contenido %}
{% include 'componentes/navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'componentes/sidebar.html' %}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          Mesas
        </h3>
      </div>

    <div>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#crear_mesa">
                Agregar Mesa
            </button>
            <a href="{% url 'panel' %}" class="btn btn-dark">Volver</a>
        </div>
        
        <div class="container-fluid">
            <table class="table tablaDatos text-center">
                <thead>
                    <tr>
                        <th style="text-align: center !important;">Nombre de mesa</th>
                        <th style="text-align: center !important;">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mesa in mesas %}
                    <tr>
                        <td style="text-align: center !important;">{{ mesa.mesa }}</td>
                        <td style="text-align: center !important;">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar_mesa{{ mesa.id }}">
                                <i class="mdi mdi-pencil"></i>
                            </button>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar_mesa{{ mesa.id }}">
                                <i class="mdi mdi-delete"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODAL CREAR MESA -->
    <!-- Modal -->
    <div class="modal fade" id="crear_mesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Mesa</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="">Nombre Mesa</label>
                        <input required type="text" name="nombre_mesa" placeholder="Ej: 01 o Mesa Lateral" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear Mesa</button>
                </div>
        </form>
        </div>
        </div>
    </div>

    <!-- MODAL EDITAR PRODUCTO -->
    {% for mesa in mesas %}
    <div class="modal fade" id="editar_mesa{{ mesa.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form action="" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Mesa</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="">Nombre Mesa</label>
                            <input required value="{{ mesa.mesa }}" type="text" name="nombre_mesa" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
            </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="eliminar_mesa{{ mesa.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Mesa</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>¿Deseas eliminar la mesa "<i>{{ mesa.mesa }}</i>"</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar Mesa</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>
    {% include 'componentes/footer.html' %}
  </div>
</div>   
{% endblock %}