{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="{% static 'assets/images/express-taste-logo.png' %}" alt="profile" />
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">{{ request.session.nombre_usuario }}</span>
                    <span class="text-secondary text-small">Administrador</span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'panel' %}">
                <span class="menu-title active">Panel</span>
                <i class="mdi mdi-chart-line menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Mantenedores</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-silverware menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mesas</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>